/*============================================================
GLOBALS
============================================================*/

html {
  font-family: 'Ubuntu', sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

body {  
  background-image: url(images/floor.jpg);
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  border: 2px solid black;
  width: 100%;
}

nav li {
  display: flex;
  justify-content: center;
  float: left;
  width: 16.667%;
}

nav li a {
  display: block;
  color: whitesmoke;
  width: 144%;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: orange;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

/*============================================================
home
============================================================*/

#homeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  color: white;
}

#homeContainer h1 {
  font-family: 'Rock Salt', cursive;
}

#homeContainer h2 {
  font-family: 'Rock Salt', cursive;
}

#welcomeBox {
  font-size: 15px;
  font-family: 'Rock Salt', cursive;
}

.reallySmall {
  font-family: 'Rock Salt', cursive;
  font-size: 15px;
}

span {
  color: red;
}

.box {
  border: 2px solid black;
  background-color: rgba(8, 8, 8, 0.616);
  width: 75%;
  justify-content: center;
  margin-bottom: 5%;
  padding: 5%;
  color: white;
  opacity:0;/*changes with the jQuery code*/
}

#boxLogo {
  width: 75%;
  justify-content: center;
  margin-bottom: 5%;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.349);
}

.skillImg {
  margin: 2%;
}


/*============================================================
resources
============================================================*/

#resourcesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  color: white;
}

.resourcesBox {
  border: 2px solid black;
  background-color: rgba(8, 8, 8, 0.616);
  width: 75%;
  justify-content: center;
  margin-bottom: 5%;
  padding: 5%;
  color: white;
}

#resourcesContainer h1 {
  font-family: 'Rock Salt', cursive;
}

#resourcesContainer h2 {
  font-family: 'Rock Salt', cursive;
}

/*============================================================
contact
============================================================*/

#contactContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

#callMeEmailMe {
  font-size:25px;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-family: 'Rock Salt', cursive;
}

#contactMeForm {
  border: 2px solid black;
  background-color: rgba(8, 8, 8, 0.616);
  width: 50%;
  justify-content: center;
  padding: 2%;
  margin: 2%;
}

#contactMeForm h2 {
  color: whitesmoke;
}

input[type=text], select, textarea {
  width: 95%;
  height: 5%;
  padding: 5px;
  border: 3px solid #ccc;
  border-radius: 4px;
  margin-top: 6%; /*inline style for the text box, wont work in CSS for some reason*/
  font-size: 25px; /*does not apply to textarea*/
}

input[type=submit] {
  background-color: #333;
  color: whitesmoke;
  border: 2px solid black;
  width: 33%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
  font-size: 35px;
}
/*chage the color of the send button on hover*/
input[type=submit]:hover {
  color: black;
  background-color: #f8f8ff;
}

@media (max-width: 600px) {
  #callMeEmailMe {
    font-size: 10px;
  }

}
