/*============================================================
GLOBALS
============================================================*/

html {
  background-color: white;
  margin: 0;
  padding: 0;
}

body {  
  background-image: url(images/floor.jpg);
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  body {
    background-image: url(images/pattern.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  }
}

nav {
  position: fixed;
  border: 2px solid black;
  width: 100%;
}

@media (max-width: 600px) {
  nav {
    position: absolute;
  }
}

nav li {
  display: flex;
  justify-content: center;
  float: left;
  width: 16.66%;
}

@media (max-width: 600px) {
  nav li {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }
}

nav li a {
  font-family: 'Rock Salt', cursive;
  display: block;
  color: whitesmoke;
  width: 144%;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

@media (max-width: 600px) {
  nav li a {
    width: 50%;
    text-align: left;
  }
}

nav li a:hover {
  background-color: orange;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}



/*============================================================
home
============================================================*/

#homeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  color: whitesmoke;
}

@media (max-width: 600px) {
  #homeContainer {
    margin-top: 100%;
  }
}

#nameTitle {
  font-family: 'Rock Salt', cursive;
  font-size: 33px;
}

.reallySmall {
  font-family: 'Rock Salt', cursive;
  font-size: 15px;
}

.box {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  border-radius: 100%;
  width: 500px;
  height: 500px;
  margin-bottom: 5%;
  justify-content: center;
  opacity:0;/*changes with the jQuery code*/
  text-align: center;
  font-family: 'Ubuntu Mono', monospace;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6), 0 12px 32px 0 rgba(0, 0, 0, 0.4);
}

@media (max-width: 600px) {
  .box {
    width: 350px;
    height: 350px;
  }
}

#welcomeBox {
  margin-top: 5%;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

#reactBox {
  background-color: rgba(245, 245, 245, .5);
}

#reactLogo {
  display: block;
  height: 50%;
  width: 50%;
  margin: 5% auto;
}

#reactBox a {
  color: black;
}

#jsBox {
  background-color: rgba(0, 0, 0, 0.5);
}

#jsLogo {
  display: block;
  height: 33%;
  width: 33%;
  margin: 5% auto;
}

#jsBox a {
  color:whitesmoke;
}

#cmsBox {
  background-color: rgba(245, 245, 245, .5);
}

#cmsLogos {
  display: flex;
  flex-direction: row;
  height: 50%;
  align-items: center;
  justify-content: center;
}

#wixLogo {
  height: 65%;
  width: auto;
  margin: 5% 10%;
}

#wpLogo {
  height: 100%;
  width: auto;
  margin: 5% 2%;
}

#cmsBox a {
  color: black;
}

#serverBox {
  background-color: rgba(0, 0, 0, 0.5);
}

#serverLogos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#topServerLogos {
  display: flex;
  flex-direction: row;
  height: 50%;
  align-items: center;
  justify-content: center;
}

#awsLogo {
  width: 33%;
  height: auto;
}

#ubuntuLogo {
  width: 33%;
  height: auto;
}

#bottomServerLogos {
  display: flex;
  flex-direction: row;
  height: 50%;
  align-items: center;
  justify-content: center;
}

#nodeLogo {
  width: 33%;
  height: auto;
}

#nginxLogo {
  width: 33%;
  height: auto;
}

#dataBox {
  background-color: rgba(245, 245, 245, .5);
}

#dataLogos {
  display: flex;
  flex-direction: column;
  height: 40%;
  align-items: center;
  margin-bottom: 20%;
}

#sqlLogo {
  height: 100%;
  width: auto;
  margin: 0% 2%;
}

#tableauLogo {
  height: 100%;
  width: auto;
  margin: 0% 2%;
}

#dataBox a {
  color:black;
}

#cSharpBox {
  background-color: rgba(0, 0, 0, 0.5);
}

#cSharpLogos {
  display: flex;
  flex-direction: row;
  height: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 8%;
}

#cSharpLogo {
  height: 65%;
  width: auto;
  margin: 5% 10%;
}

#dotnetLogo {
  height: 66%;
  width: auto;
  margin: 5% 2%;
}

#cSharpBox a {
  color: whitesmoke;
}

#bootstrapJQueryBox {
  background-color: rgba(245, 245, 245, .5);
}

#bootstrapJQueryLogos {
  display: flex;
  flex-direction: row;
  height: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 8%;
}

#bootstrapLogo {
  height: 65%;
  width: auto;
  margin: 5% 10%;
}

#jQueryLogo {
  height: 66%;
  width: auto;
  margin: 5% 2%;
}

#bootstrapJQueryBox a {
  color: black;
}

.box p {
  margin: 45% auto;
  width: 50%;
}

.box a {
  font-size: 25px;
}

/*============================================================
resources
============================================================*/

#resourcesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  color: white;
}

@media (max-width: 600px) {
  #resourcesContainer {
    margin-top: 100%;
  }
}

.resourcesBox {
  border: 2px solid black;
  background-color: rgba(8, 8, 8, 0.616);
  width: 75%;
  justify-content: center;
  margin-bottom: 5%;
  padding: 5%;
  color: white;
}

#resourcesContainer h1 {
  font-family: 'Rock Salt', cursive;
}

#resourcesContainer h2 {
  font-family: 'Rock Salt', cursive;
}

/*============================================================
contact
============================================================*/

#contactContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

@media (max-width: 600px) {
  #contactContainer {
    margin-top: 100%;
  }
}

#callMeEmailMe {
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-family: 'Rock Salt', cursive;
  font-size:25px;
}

@media (max-width: 600px) {
  #callMeEmailMe {
    color: black;
  }
}

#contactMeForm {
  border: 2px solid black;
  background-color: rgba(8, 8, 8, 0.616);
  width: 50%;
  justify-content: center;
  padding: 2%;
  margin: 2%;
}

.formItem {
  margin: 40px 0;
}

#contactMeForm label {
  color: whitesmoke;
  display: block;
  padding-bottom: 4px;
  font-family: 'Rock Salt', cursive;
  font-size:25px;
}

input, select, textarea {
  width: 95%;
  height: 5%;
  padding: 8px;
  border: 3px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 6%;
  font-size: 25px; 
}

#contactMeForm button {
  background-color: #333;
  color: whitesmoke;
  border: 2px solid black;
  width: 33%;
  transition: all 0.5s;
  cursor: pointer;
  display: block;
  margin: auto;
  font-size: 25px;
  font-family: 'Rock Salt', cursive;
  font-size:25px;
}

#contactMeForm button:hover {
  color: #333;
  background-color: whitesmoke;
}

@media (max-width: 600px) {
  #callMeEmailMe {
    font-size: 10px;
  }
  #contactMeForm {
    width: 90%;
  }
}
